.outline-transition {
    transition: outline-color,outline-width 100ms ease-in-out;
}

.alignment {
    display: flex;
    align-items: center;
    gap: 0.125rem;
    width: max-content;
}

.button {
    composes: outline-transition;
    composes: alignment;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    height: max-content;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: 3px solid var(--blue-7);
}

.button:disabled {
    cursor: initial;
}

.primary {
    composes: button;
    border-color: var(--blue-11);
    background: var(--blue-11);
    color: var(--blue-1);
}

.primary:hover {
    background: var(--blue-9);
}

.primary:disabled {
    border-color: var(--gray-7);
    background: var(--gray-5);
    color: var(--gray-11);
}

.secondary {
    composes: button;
    border-color: var(--gray-7);
    color: var(--gray-12);
    background-color: var(--gray-2);
}

.secondary:hover {
    background: var(--gray-4);
}

.secondary:disabled, .secondary[aria-disabled='true'] {
    border-color: var(--gray-11);
    color: var(--gray-11);
    background: var(--gray-5);
    pointer-events: none;
}

.link {
    composes: outline-transition;
    composes: alignment;
    display: inline-flex;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: inherit;
    padding: 0.5rem;
    text-decoration: 1px solid underline;
    color: inherit;
}

.link:hover {
    text-decoration: 3px solid underline;
    cursor: pointer;
}

.link:focus {
    outline: 3px solid var(--blue-5);
}

.link:disabled, .link[aria-disabled='true'] {
    pointer-events: none;
    color: var(--gray-8);
}

.link.small {
    padding: 0;
}

.navLink {
    composes: link;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: none;
    background: var(--gray-3);
}

.activeLink {
    composes: navLink;
    background-color: var(--gray-5);
}

.activeLink:hover {
    background-color: var(--gray-4);
}

.destructive {
    composes: link;
    color: var(--red-11);
}

.destructive:focus {
    outline-color: var(--red-7);
}
