.link {
    padding: 0.25rem;
    text-decoration: 2px dashed underline;
    font-weight: bold;
    color: inherit;
    transition: outline-color,outline-width 100ms ease-in-out;
}

.link:hover {
    text-decoration: 2px solid underline;
    cursor: pointer;
}

.link:focus {
    outline: 3px solid var(--blue-5);
    border-radius: 5px;
}

.activeLink {
    composes: link;
    color: var(--orange-7);
    text-decoration-color: var(--orange-7);
}
