.container {
    
}

.header {
    padding: 1rem;
    background: var(--blue-12);
    color: var(--blue-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.titleContainer > h1 {
    margin: 0;
    font-size: 1rem;
}

.nav {
    display: flex;
    gap: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main {
    padding: 1rem;
}