.container {
    padding-top: 100px;
}

.header {
    padding: 1rem;
    background: var(--blue-12);
    color: var(--blue-5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--blue-10);
}

.titleContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .header {
        align-items: flex-start;
    }
    
    .titleContainer {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .nav {
        flex-wrap: wrap;
    }
}

.titleContainer > h1 {
    font-size: 1rem;
}

.nav {
    display: flex;
    gap: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main {
    padding: 1rem;
}