@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/yellow.css';

@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/orange-dark.css';
@import '@radix-ui/colors/pink-dark.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/yellow-dark.css';

@import 'react-data-grid/lib/styles.css';

:root {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--blue-5);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
