@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/orange.css';
@import 'react-data-grid/lib/styles.css';
@import 'react-widgets/styles.css';

:root {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}
