.input {
    composes: outline-transition from '../buttons-and-links.module.css';
    padding: 0.5rem;
    border: 2px solid var(--gray-7);
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--gray-2);
    font-family: inherit;
    color: var(--gray-12);
}

.input:user-invalid, .input[aria-invalid='true'] {
    border-color: var(--red-7);
    background-color: var(--red-3);
}

.input:focus {
    outline: 3px solid var(--blue-7);
    border-color: var(--blue-12);
}

.input:user-invalid:focus, .input[aria-invalid='true']:focus {
    outline-color: var(--red-7);
    border-color: var(--red-11);
}

.input:disabled {
    border-color: var(--gray-7);
    background-color: var(--gray-3);
    color: var(--gray-10);
    cursor: initial;
}

/* CSS modules won't let me use composes on a selector for a psuedo-element */

.input::file-selector-button {
    transition: outline-color,outline-width 100ms ease-in-out;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--gray-7);
    border-radius: 5px;
    text-decoration: none;
    color: var(--gray-12);
    background-color: var(--gray-2);
}

.input::file-selector-button:hover {
    cursor: pointer;
    background: var(--gray-4);
}

.input:disabled::file-selector-button {
    border-color: var(--gray-11);
    color: var(--gray-11);
    background: var(--gray-5);
}
