@keyframes rotating {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    animation: rotating 2s infinite linear normal;
}

@media (prefers-reduced-motion: reduce) {
    .spinner {
        display: none;
        animation: none;
    }
}