.container {
    width: 100%;
    overflow-x: auto;
    border-left: 2px solid var(--gray-7);
    border-right: 2px solid var(--gray-7);
    border-radius: 5px;
}

.table {
    border-top: 2px solid var(--gray-7);
    border-bottom: 2px solid var(--gray-7);
    border-collapse: collapse;
    width: 100%;
}

.tableHead {

}

.tableHeader {
    border: 1px solid var(--gray-7);
    padding: 0.5rem;
    font-weight: bold;
    background-color: var(--gray-3);
}

.tableHeader:first-child {
    border-left: none;
}

.tableHeader:last-child {
    border-right: none;
}

.tableBody {

}

.tableRow {

}

.tableData {
    border: 1px solid var(--gray-7);
    padding: 0.5rem;
}

.tableData:first-child {
    border-left: none;
}

.tableData:last-child {
    border-right: none;
}
